#wrapper {
	position:relative;
	padding-top:10px;
   margin: 0 20%;
	background:rgb(252, 252, 252);
	
	height:100%;
	width:60%;
	
}
header {

	margin-top:30px;
	text-align: left;
	
	width:100%;
	height:100px;
	
}
a {
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}
header p {
   margin-left: 0;
	margin-top:4px;
	line-height: 1.1em;
}
h1 {
	font-size:2em;
	margin-bottom:10px;

	margin-top: 20px;
	padding-left:10px;

}
p {
	letter-spacing: 0.08em;
	padding-left:10px;
	clear:both;
	margin:10px;
	margin-bottom:2px;
	margin-left:20px;
	line-height: 25px;


}
h2 {
	
	font-size: 1.4em;
}
section {
	margin-top:30px;


}
img {
	margin:0 5px;
	float: left;
}
.name img {
	margin-top:5px;
}
#footer {
	margin-bottom:100px;
}
hr {
	margin-left:4px;

	text-align: left;
	width:90%;
}
.download {
	right:300px;
	top:20px;
	position:fixed;
	
	
}
.download  a{
	color:#2a81ff;
}