body{
  margin:2.6% 15%; 
  background:rgb(250,250,250); 


}
.hezi  {
  background:rgb(247,247,247);
  text-align:left;
  padding-bottom:10px;

  
  
  
}
h1 { text-align:center;
 background:rgb(244,244,244);

}
p { }
