@media only screen and (min-width:320px)
{
.hengfu {
height:80px;
 width:100%;
 margin:0px;
display:bolck;

 
         }
    p{
     text-indent:2em;
     margin:0.5em 0 0 0;
     
     
    }
 body {
  
 
  background:rgb(135,135,135); 


     }
.hezi  {
  margin:0% 5%; 
  background:rgb(247,247,247);
  
  padding-bottom:10px;
       }
h1 { 
   text-align:center;
 background:rgb(244,244,244);
margin:0px;
   } 
  
}




@media only screen and (min-width:600px)
{
.hengfu {
 display:block;
height:200px;
 width:100%;
 margin-bottom:0px;

 
        }
         p{
     text-indent:2em;
     margin:0.5em 0 0 0;
         }
 
body {
 border:0px;
  background:rgb(135,135,135); 


     }
.hezi  {
  margin:0% 25%; 
  background:rgb(247,247,247);
 
  padding-bottom:10px;
  position:static;
        }
h1 {
  text-align:center;
 background:rgb(244,244,244);
margin-top:0px;
   }

}
