@media only screen and (min-width:320px)
{
.hengfu {
display:block;
 margin-top:0px;
 margin-left:3%;
width:100%;
height:80px;
vertical-align:top;
 
         }
   img {
    display:block;
    padding-left:0px;
    float:left;
    
    
   }
    p{
     padding-left:3px;
     text-indent:2em;
     margin:0.5em 0 0 0;
     
     
    }
 body {
  margin:0px;
  border:0px;
 
  background:rgb(135,135,135); 


     }
.hezi  {
  margin:0% 5%; 
  background:rgb(247,247,247);
  
  padding-bottom:10px;
       }
h1 { 
  padding-top:10px;
   text-align:center;
 background:rgb(244,244,244);
margin:10px auto;
   } 
   h2 {
 padding-left:3px;
 
    }
  .pb {
   display:none;
   
   
         }
  
}




@media only screen and (min-width:600px)
{
.hengfu {
 display:block;
height:220px;
width:1238px;
 margin-bottom:0px;
margin-left:55px;
 

 
        }
          img {
    display:block;
    padding-left:0px;
    float:left;
    
    
               }
        
         p{
     text-indent:2em;
     margin:0.5em 0 0 0;
     padding-left:3px;
         }
                     /*电脑模式下                     */
body {
 border:0px;
  background:rgb(135,135,135); 


     }
.hezi  {
 width:920px;
  margin-top:0%;
  margin-left:55px;
  background:rgb(247,247,247);
 padding-bottom:10px;
 float:left;
 
        }
  .pb {
   display:block;
 background:rgb(255,255,255);
   margin-left:0px 55px 0px 0px;
   border:solid black 2px;
  

       }
h1 {
 display:block;
 padding-top:5px;

  text-align:center;
 background:rgb(244,244,244);
margin-top:0px;
   }
h2 {
 padding-left:3px;
 
    }

}
